#logo{
	height: 50px;
	width: 60px;
}

nav{
	background-color: #6495ED;
	
}

.nav-link{
	font-size: medium;
	color: azure;
}

.footer{
    background-color: #6495ED;
    height: 60px;
    font-size: 30px;
    clear: both;
    margin: 20px 0;
    text-align: center;
}